<section id="header-user-profile">
  <ul>
    <li><b><%= "#{@user.display_name}" %></b></li>
    <li><%= link "Disconnect", to: Routes.auth_path(@conn, :logout) %>
  </ul>
  <img src="<%= "#{@user.profile_picture_url}" %>" />
</section>
